* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: white;
}

.footer {
  background: #fff;
  padding: 60px 20px 30px 20px;
  position: relative;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  
  max-width: 1200px;
  margin: auto;
}

.footer-column {
  flex: 1;
  margin: 10px 20px;
  min-width: 250px;
}

.logo {
  font-size: 24px;
  color: #3366cc;
  margin-bottom: 15px;
}

.footer-column p {
  color: #666;
  line-height: 1.6;
  font-size: 14px;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #111;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  margin-bottom: 10px;
  color: #555;
  font-size: 14px;
}

.footer-column a {
  text-decoration: none;
  color: #3366cc;
  font-size: 14px;
}

.footer-column .phone a {
  font-size: 16px;
  font-weight: bold;
}

.social-icons a {
  margin-right: 10px;
  color: #3366cc;
  font-size: 16px;
}

.footer-bottom {
  text-align: center;
  padding-top: 30px;
 border-top: 1px solid #ddd;
  font-size: 13px;
  color: #999;
}

.footer-bottom a {
  color: #007bff;
  text-decoration: none;
}
.image-09{
    padding: 50px;
}